.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.header-bar{
    /*background-color: #c4c6e947;*/
    background-color: #c4c6e9;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

.footer{
    background-color: #c4c6e947;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    margin-top: 4%;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.product-card{
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.12);
}

.product-image{
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
}

.product-button{
    width: 100%;
}

.basket-button-wrapper{
    position: fixed;
    right: 5%;
    bottom: 5%;

}

.basket-button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.12);
}

.baskeitem-media{
    height: 10vh;
    width: 100%;
}

.image-wrapper{
    height: 100%;
    width: 10vh;
    object-fit: contain;
}

.basketitem-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.baskeitem-header{
    font-size: 16px;
}

.basketitem-row{
    display: flex;
}

.discount-box{
    border: 1px solid black;
    text-align: center;
}

.remove-item{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    font-size: 20px;
}

.basket-count {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
}
